@font-face {
  font-family: pokemon-solid;
  src: url("../public/assets/fonts/Solid.ttf");
}

@font-face {
  font-family: pokemon-hollow;
  src: url("../public/assets/fonts/Hollow.ttf");
}

#root {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background: white;
}

* {
  -webkit-tap-highlight-color: transparent;
}

:focus {
  outline: none !important;
}

.joy {
  margin: 20px;
  max-height: max(45vw, 80vh);
  transform: translateY(5%);
}

.bubble {
  position: absolute;
  top: 10vh;
  left: 12vw;
  font-size: max(1vw, 1.1rem);
  background: #f4b3a8;
  padding-inline: 2rem;
  border-radius: 2rem;
  height: 7rem;
  width: max(19rem, 30vw);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 5;
}

.bubble::after {
  z-index: 1;
  content: '';
  position: absolute;
  width: 60px;
  height: 50px;
  transform: translate(12vw, 80%) rotate(75deg);
  background: inherit;
  border-radius: 0 200% 0 200%;
  z-index: -3;

}

.pane:hover img {
  transition: all 0.2s ease-out;
  transform: scale(1.05);
}

.icon {
  border-radius: 100%;
  width: 2.4rem;
  aspect-ratio: 1;
  margin: auto;
  transition: 200ms all;
  display: grid;
  place-items: center;
}

.icon:hover {
  filter: saturate(200%);
}

.icon:hover::before {
  content: attr(data-type);
  position: absolute;
  width: fit-content;
  background: inherit;
  padding-inline: 1rem;
  border-radius: 1rem;
  text-align: center;
  text-transform: capitalize;
  color: white;
  margin: 6px;
  animation: pop .3s cubic-bezier(0.295, 1.93, 0.085, 0.92) forwards;
}

.icon img {
  height: 60%;
  width: 60%;
  margin: auto;
}

.bug {
  background: #92BC2C;
  box-shadow: 0 0 20px #92BC2C;
}

.dark {
  background: #595761;
  box-shadow: 0 0 20px #595761;
}

.dragon {
  background: #0C69C8;
  box-shadow: 0 0 20px #0C69C8;
}

.electric {
  background: #F2D94E;
  box-shadow: 0 0 20px #F2D94E;
}

.fire {
  background: #FBA54C;
  box-shadow: 0 0 20px #FBA54C;
}

.fairy {
  background: #EE90E6;
  box-shadow: 0 0 20px #EE90E6;
}

.fighting {
  background: #D3425F;
  box-shadow: 0 0 20px #D3425F;
}

.flying {
  background: #A1BBEC;
  box-shadow: 0 0 20px #A1BBEC;
}

.ghost {
  background: #5F6DBC;
  box-shadow: 0 0 20px #5F6DBC;
}

.grass {
  background: #5FBD58;
  box-shadow: 0 0 20px #5FBD58;
}

.ground {
  background: #DA7C4D;
  box-shadow: 0 0 20px #DA7C4D;
}

.ice {
  background: #75D0C1;
  box-shadow: 0 0 20px #75D0C1;
}

.normal {
  background: #A0A29F;
  box-shadow: 0 0 20px #A0A29F;
}

.poison {
  background: #B763CF;
  box-shadow: 0 0 20px #B763CF;
}

.psychic {
  background: #FA8581;
  box-shadow: 0 0 20px #FA8581;
}

.rock {
  background: #C9BB8A;
  box-shadow: 0 0 20px #C9BB8A;
}

.steel {
  background: #5695A3;
  box-shadow: 0 0 20px #5695A3;
}

.water {
  background: #539DDF;
  box-shadow: 0 0 20px #539DDF;
}

.pokeball {
  animation: spin 5s linear infinite;
}

svg.clicked {
  animation: none;
}

@media (max-width: 40rem) {
  .joy {
    transform: translateY(0);
  }

  .bubble {
    top: 50vh;
    left: 8vw;
  }

  .bubble::after {
    transform: translate(-225%, -80%) rotate(75deg);
    border-radius: 0 100% 0 100%;
    width: 50px;
  }

  .pokeball {
    animation: jump 3s cubic-bezier(0.5, 0.35, 0.15, 0.86) infinite;
  }

  g.inner {
    animation: pulse 0.5s infinite cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  svg.clicked g.inner {
    animation: none;
  }

  svg.clicked {
    animation: none;
  }
}

@keyframes pop {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
    transform: translateY(-150%);
  }
}

@keyframes pop-back {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translateY(100%);
  }
}

@keyframes pulse {
  5% {
    opacity: 1;
  }

  30% {
    opacity: 0;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }

  10% {
    transform: translateY(-70%);
  }

  20% {
    transform: translateY(0);
  }

  30% {
    transform: translateY(-70%);
  }

  40% {
    transform: translateY(0);
  }
}

/* scaleUp for the arcs in between the ball's halves and for the failure animation */
svg.clicked g.open {
  animation: scaleUp 0.2s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1) forwards;
}

@keyframes scaleUp {
  to {
    transform: scale(1);
  }
}

/* translateUp for the top half and the failure animation */
svg.clicked g.top {
  animation: translateUp 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) forwards;
}

@keyframes translateUp {
  to {
    transform: translateY(-10px);
  }
}

/* translateDown for the bottom half and the failure animation */
svg.clicked g.bottom {
  animation: translateDown 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) forwards;
}

@keyframes translateDown {
  to {
    transform: translateY(5px);
  }
}

/* translateHigher for the center and the failure animation */
svg.clicked g.center {
  animation: translateHigher 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) forwards;
}

@keyframes translateHigher {
  to {
    transform: translateY(-18px);
  }
}